.DS_Store

# datasets / training artifacts
mdc_data/
**/checkpoints/
**/optimizer.pt
**/training_whisper_*.log

# big local models
sei_ncx_asr_model/sei_final_model/
sei_ncx_asr_model/ncx_final_model/
sei_ncx_asr_model/ncx_asr_model/ncx-sei-joint-asr/final-model/

.DS_Store
sei_ncx_asr_model/.DS_Store

# optional: ignore duplicate nested copy if not needed
sei_ncx_asr_model/sei_lora_adapter/adapter/
